/* Reset code & common code starts */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  outline: 0;
  font-weight: 400;
}

html{
  background-color: white;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body{
  background-color: white;
  width: 120rem;
  max-width: 100%;
  margin: auto;
  border: 1px solid black;
  box-shadow: .1rem .1 rem .1rem #c4c4c4, -.1rem 0rem .1rem #c4c4c4;
}

.text-center{
  text-align: center;
}

.text-justify{
  text-align:justify;
}

.section-center{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.top-heading{
  font-family: 'Italianno', 'cursive';
  font-size: 8rem;
  font-weight: 550;
}

.middle-heading{
  font-size: 3rem;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.low-heading{
  font-size: 2.2rem;
  font-weight: 350;
  font-family: 'Roboto', sans-serif;
}

.normal-font{
  font-size: 1.8rem;
  font-weight: 400;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
}

.text-white{
  color: white;
}

.btn{
  border-radius: 0.8rem;
  text-transform: uppercase;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  background-color: #E69F08;
  padding: 0.8rem 5rem;
  box-shadow: 0.1rem 0.1rem 0.1rem black;
}

.input{
  background-color: white;
  border: none;
  border-radius: 1rem;
}

.input:focus{
  border: none;
}

textarea{
  background-color: white;
  border: none;
  border-radius: 1rem;
  resize: none;
}

textarea:focus{
  border: none;
}

.form-control{
  padding: .8rem;
}

/* 
font-family: 'Italianno', cursive;
font-family: 'Lora', serif;
font-family: 'Roboto', sans-serif; */

/* Reset code & common code ends */

/* Header Start */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 2rem 1rem;

  position: sticky;
  top: 0;
  z-index: 10;
  min-height: 5vh;
}

.logo-figure{
  border: 1px solid white;
}

.logo{
  font-size: 4rem;
}

nav li{
  display: inline-block;
  margin-right: 2rem;
  padding: 1rem;
  transition: all 0.4s;
}

nav li:last-child{
  margin-right: 0px;
}

nav li:hover{
  background-color: blueviolet;
  border-radius: 0.6rem;
}

.nav-link{
  font-size: 1.8rem;
  cursor: pointer;
}

header a{
  color: white;
}
/* Header End */

/* Banner Section Start */
#banner-section{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 1rem;
  min-height: 95vh;
}

.banner-heading{
  display: inline-block;
  font-size: 4rem;
  background-color: black;
  color: white;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

#banner-section aside{
  flex-basis: 50%;
  text-align: center;
}

#banner-section article{
  flex-basis: 50%;
  margin: 1rem;
}

.banner-description{
  font-size: 1.8rem;
}

aside img{ 
  height: 55rem;
  width: 55rem;
  border: 0.3rem solid black;
}
/* Banner Section ends */


/* About Section Starts */
#about-section{
  background-color: #4C4C4C;
  padding: 2.8rem;
}

.about-heading{
  color: #FFFFFF;
}

.card-container{
  display: flex;
}

.card-container:last-child{
  margin-right: 0;
}

.card{
  box-sizing: border-box;
  background-color: #A09D9D;
  padding: 1.6rem 1rem;
  margin-right: 3rem;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: transform 0.4s;
}

.card:last-child{
  margin-right: 0;
}

.card:hover{
  transform: scale(1.1);
}

.card-title{
  padding: 1.6rem 0;
}

.card-button{
  padding: 2rem 0;
  width: 100%;
}

.about-button{
  width:90%;
}
/* About Section Ends */


/* Archives Section Starts */
#archives-section{
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.archives-heading{
  padding:6% 0;
}

.archives-details > ul > li> img{
  height: 12rem;
  border-radius: 5px;

  transition: transform 0.4s;
}

.archives-details > ul{
  padding: 4% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.archives-details > ul > li> img:hover{
  transform: scale(1.1);
}
/* Archives Section Ends */


/* Blog Posts Section Starts */
#blog-posts{
  width: 75%;
  margin: 0 auto;
  margin-top: 6%;
  padding-bottom: 5rem;
}

.blog-posts-heading{
  margin-bottom: 4rem;
}

.blog-card img{
  height: 25rem;
}

.blog-card{
 box-shadow: .1rem .1rem .1rem black, -.1rem 0rem .1rem black;
 margin-bottom: 2rem;
 display: flex;

 transition: transform 0.4s;
}

.blog-card:hover{
  transform: scale(1.1);
}

.blog-card-description{
  padding: 1rem 1rem 1rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.blog-posts-button{
  width: 50%;
}
/* Blog Posts Section Ends */


/* Contact Section Starts */
#contact-section{
  background-color: #4C4C4C;
  padding-bottom: 5rem;
}

.contact-heading{
  padding: 5rem 0rem;
}

.contact-details{
  width: 40%;
  margin: 0 auto;
  padding: 1.6rem;
  box-shadow: 0.1rem 0.1rem 0.1rem black, -0.1rem 0rem 0.1rem black;
}

.form-control{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form-btn{
  justify-content: end;
}

.contact-form label{
  font-size: 2rem;
}

.contact-details textarea{
  width: 65%;
  height: 8rem;
  padding: 5% 5% 5% 2%;
  font-size: 1.7rem;
}

.contact-details input{
  width: 65%;
  height: 6rem;
  padding: 2%;
  font-size: 1.7rem;
}

.contact-button{
  font-size: 1.6rem;
}
/* Contact Section Ends */

/* Footer Section Starts */
footer{
  background-color: black;
  padding: 2rem 1rem;

  display: flex;
  justify-content: space-between;
}

.copyright-text{
  flex: 1;
  font-size: 2rem;
}

.contact-icon-link{
  flex: 1;
  color: white;
  font-size: 3rem;

  display: flex;
  justify-content: end;
}

.contact-icon-link i{
    padding-left: 4rem;
}

.contact-icon-link i:last-child{
  padding-right: 1rem;
}

.contact-icon-link i:first-child{
  padding-left: 0;
}
/* Footer Section Ends */

/* Responsive Site Design Starts*/

@media screen and (max-width: 992px) {
/* Banner Starts */
  #banner-section{
    flex-direction: column;
  }

  .banner-description{
    width: 60%;
  }

  #banner-section article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
/* Banner Ends */


/* About Section Starts */
  .card-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }

  .card{
    width: 70%;
    box-sizing: border-box;
    margin-bottom: 2rem;
    margin-right: 0;
  }

  .card:last-child{
    margin-bottom: 0;
  }

  .about-button{
  width:80%;
}
/* About Section Ends */

/* Archives Section Starts */
.archives-details > ul > li> img{
  height: 8rem;
}
/* Archives Section Ends */

/* Blog Posts Section Starts */
#blog-posts{
  width: 65%;
  margin: 0 auto;
  margin-top: 6%;
}

.blog-card img{
  height: 40rem;
}

.blog-card{
  flex-direction: column;
}

.blog-card-description-heading{
  padding-bottom: 1.8rem;
}

.blog-card-description-sub-heading{
  padding-bottom: 1.3rem;
}

.blog-card-description-details{
  padding-bottom: 1.2rem;
}
/* Blog Posts Section Ends */

}

@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 600px) {
/* common code starts */
  html{
    font-size: 48.5%;
  }
/* common code Ends */

/* Header Starts */
  header{
    flex-direction: column;
  }

  nav ul{
    padding-left: 2.5rem;
  }

  nav li{
    display: block;
    margin-right: 0;
    margin: 1rem 0;
  }
/* Header Ends */

/* Banner Starts */
  #banner-section{
    min-height: auto;
  }

  .banner-description{
    width: 90%;
  }

  aside img{ 
    height: auto;
    width: 95%;
    border: 0.3rem solid black;
  }
/* Banner Ends */

/* About Section Starts */
  .card{
    width: 90%;
  }
/* About Section Ends */

/* Archives Section Starts */

.archives-details > ul > li{
  width: 100%;
  text-align: center;
}

.archives-details > ul > li> img{
  width: 70%;
  height: auto;
  margin-bottom: 5rem;
}


.archives-details > ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* Archives Section Ends */


/* Blog Posts Section Starts */
#blog-posts{
  width: 82%;
}
/* Blog Posts Section Ends */


}

@media screen and (max-width: 500px) {
/* Blog Posts Section Starts */
.blog-posts-button{
  width: 75%;
}
/* Blog Posts Section Ends */




}

/* Responsive Site Design Ends*/