/* Common & reset code starts */
:root{
  --border-radius : 0.6rem;
  --box-shadow : 0.1rem 0.2rem 0.7rem rgba(205,202,202,0.5);

  --primary-color : rgb(11,181,48);
  --secondary-color : rgba(36,122,55,0.9);

  --padding : 0.5rem;

  --transition: all 0.3s;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

html{
  scroll-behavior: smooth;
}

img{
  width: 100%;
  height: auto;
}

.flex-both-center{
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Common & reset code ends */


/* Navbar Start Here */


/* Navbar End Here */







