/* Common & reset code starts */
:root{
  --border-radius : 0.6rem;
  --box-shadow : 0.1rem 0.2rem 0.7rem rgba(205,202,202,0.5);

  --primary-color : rgb(11,181,48);
  --secondary-color : rgba(36,122,55,0.9);

  --padding : 0.5rem;

  --transition: all 0.3s;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

img{
  width: 100%;
  height: auto;
}

.flex-both-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-space-around{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-justify{
  text-align: justify;
}
.text-white{
  color: white;
}

.margin-bottom{
  margin-bottom: 1rem;
}
.margin-top{
  margin-top: 1rem;
}

.input{
  padding: 1.2rem;
  font-size: 1.6rem;
}
.btn{
  font-size: 1.4rem;
  font-weight: 300;
  text-transform: uppercase;
  padding: 1% 2%;
}

.main-heading{
  font-size: 3.5rem;
}

label{
  font-size: 2rem;
}

select{
  padding: 0.8rem;
  font-size: 1.7rem;
}
/* Common & reset code ends */


/* menu-bar starts */
#menu-bar{
  display: none;
}
/* menu-bar ends */

/* Navbar Start Here */
#menu{
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

.navbar{
  box-sizing: border-box;
  min-height: 6vh;
  background-color: #0BB530;
  padding: 1rem;
  justify-content: space-around;
}

.nav-profile-img{
  height: 5.2rem;
  width: 5.2rem;
  border-radius: 50%;
  border: .2rem solid white;
  filter: saturate(0);
}

.nav-profile-img:hover{
  filter: saturate(1);
}

.navbar a{
  color: white;
  font-size: 2rem;
  font-family: fantasy;
  transition: all 0.3s;
}

.navbar a:hover{
  color: black;
  text-decoration: overline;
}

/* Sub-Navbar Starts */
.sub-navbar{
  background-color: #39874B;
  padding: 1rem;
  justify-content: space-around;
}

.sub-navbar-header{
  color: white;
  font-size: 3rem;
  font-family: fantasy;
  transition: all 0.3s;
}

.sub-navbar-cart{
  color: white;
  font-size: 2rem;
  font-family: fantasy;
  transition: all 0.3s;
}

.sub-navbar a:hover{
  color: black;
  text-decoration: overline;
}
/* Sub-Navbar Ends */
/* Navbar End Here */

/* Header Start Here */
#Banner{
  background-image: url(./images/banner.jpg);
  background-attachment: fixed;
  background-size: cover;
  min-height: 78vh;
  padding: 9rem 0;
  flex-direction: column;
  justify-content: space-between;
}

.banner-floating-text{
  box-sizing: border-box;
  width: 100%;
  font-size: 5.5rem;
  color: yellow;
}

#Banner .card{
  background-color: #38A573;
  flex-direction: column;
  padding: 1rem 1.5rem;
  height: 12rem;
  width: 25rem;
  border-radius: 1.3rem;
  justify-content: space-around;
}

.Banner-card-text{
  font-size: 1.9rem;
  font-weight: 650;
  color: white;
}

#Banner .row{
  box-sizing: border-box;
  width: 100%;
  justify-content: space-around;
}
/* Header End Here */

/* Main Section Starts  */
main{
  box-sizing: border-box;
  padding: 4rem 1rem;
}
/* Side Bar Starts Here */
#side-bar{
  margin-bottom: 4rem;
}

.categories{
  margin-bottom: 2rem;
}

.price-range{
  margin-bottom: 2rem;
}
/* Side Bar Ends Here */

/* Main Bar Starts Here */
#main-item{
  text-align: center;
}

.sort-by{
  margin-bottom: 1.5rem;
}

.search-input{
  width: 30rem;
}

.btn-search{
  font-size: 2rem;
  padding: .9rem;
  margin-left: 0;
  transition: var(--transition);
}
.btn-search i{
  height: 21px;
  width: 21px;
}

.btn-search:hover{
  background-color: green;
  color: white;
}

/* card design starts */
.card{

}

.card-heading{
  font-size: 2rem;
}

.card-details{
  font-size: 1.7rem;
  font-weight: 550;
}

.card-details-readMore{
  cursor: pointer;
  color: #0BB530;
  font-size: 1.8rem;
}

.card-price{
  font-weight: bold;
  font-size: 1.8rem;
}
.card-rating{
  font-weight: bold;
  font-size: 1.7rem;
}

.btn-card{
  box-sizing: border-box;
  width: 85%;
  background-color: #DBDBDB;
  font-size: 1.8rem;
  border: none;
  text-transform: uppercase;
  text-align: center;
  margin-top: 1rem;
  transition: var(--transition);
}

.btn-card:hover{
  background-color: #0BB530;
  color: white;
}

/* card design ends */

/* Main Bar Ends Here */
/* Main Bar Starts Here */

/* Main Bar Ends Here */

/* Main Section Ends  */

/* Footer Section Starts  */
footer{
  background-color: #0BB530;
  min-height:10vh;
  padding: 1.5rem;
  color: white;
  font-size: 1.9rem;
}

.footer-subscribe{
  flex: 1;
  padding-left:5rem;
}

.footer-copyright{
  flex: 1;
  text-align: center;
}

.input-footer{
  width: 30rem;
  height: 3.6rem;
}

.btn-footer{
  transition: var(--transition);
  height: 3.6rem;
}

.btn-footer:hover{
  background-color: #218037;
}
/* Footer Section Ends */


@media screen and (max-width: 1024px) {

/* Footer Section Starts  */
footer{
  flex-direction: column;
  padding: 5%;
}

.footer-subscribe{
  flex-direction: column;
}

.input-footer{
  margin-top: 1rem;
  padding: 3% 5%;
}

.btn-footer{
  margin-top: 1rem;
  font-size: 1.7rem;
  padding: 2% 3%;
}

.footer-subscribe{
  padding-left: 0rem;
}

.footer-copyright{
  margin-top: 1.8rem;
}
/* Footer Section Ends */
}

@media screen and (max-width: 768px) {

/* menu bar handle starts */
 #menu-bar{
  display: block;
  text-align: center;
  margin: 1rem 0;
  cursor: pointer;
}

.navbar-hidden{
  display: none;
}

.navbar {
  flex-direction: column;
}

.navbar li{
  margin-bottom: 1rem;
}

.navbar li:last-child{
  margin-bottom: 0;
}

.sub-navbar {
  flex-direction: column;
}

.sub-navbar li:first-child{
   margin-bottom: 1.5rem;
}
/* menu bar handle ends */

/* Header Section Starts */
#Banner{
    padding: 2rem 0 4rem;
}

#Banner .row{
  flex-direction: column;
  justify-content: space-around;
}

#Banner .card{
  margin-bottom: 4rem;
}

.banner-floating-text{
  margin: 2rem auto;
}
/* Header Section Ends */

/* Main Section Starts  */

/* Main Section Ends  */
}