/* Common & reset code starts */
:root{
  --border-radius : 0.6rem;
  --box-shadow : 0.1rem 0.2rem 0.7rem rgba(24, 23, 23, 0.5);

  --primary-color : rgb(11,181,48);
  --secondary-color : rgba(36,122,55,0.9);

  --padding : 0.5rem;

  --transition: all 0.3s;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

img{
  width: 100%;
  height: auto;
}

.flex-both-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-space-around{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-justify{
  text-align: justify;
}
.text-white{
  color: white;
}

.margin-bottom{
  margin-bottom: 1rem;
}
.margin-top{
  margin-top: 1rem;
}

.btn{
  font-size: 1.4rem;
  font-weight: 300;
  text-transform: uppercase;
  padding: 1% 2%;
}

.main-heading{
  font-size: 3.5rem;
}

label{
  font-size: 2rem;
}

select{
  padding: 0.8rem;
  font-size: 1.7rem;
}
/* Common & reset code ends */


/* menu-bar starts */
#menu-bar{
  display: none;
}
/* menu-bar ends */


/* Navbar Start Here */
#menu{
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

.navbar{
  box-sizing: border-box;
  min-height: 6vh;
  background-color: #0BB530;
  padding: 1rem;
  justify-content: space-around;
}

.nav-profile-img{
  height: 5.2rem;
  width: 5.2rem;
  border-radius: 50%;
  border: .2rem solid white;
  filter: saturate(0);
}

.nav-profile-img:hover{
  filter: saturate(1);
}

.navbar a{
  color: white;
  font-size: 2rem;
  font-family: fantasy;
  transition: all 0.3s;
}

.navbar a:hover{
  color: black;
  text-decoration: overline;
}

/* Sub-Navbar Starts */
.sub-navbar{
  background-color: #39874B;
  padding: 1rem;
  justify-content: space-around;
}

.sub-navbar-header{
  color: white;
  font-size: 3rem;
  font-family: fantasy;
  transition: all 0.3s;
}

.sub-navbar-cart{
  color: white;
  font-size: 2rem;
  font-family: fantasy;
  transition: all 0.3s;
}

.sub-navbar a:hover{
  color: black;
  text-decoration: overline;
}
/* Sub-Navbar Ends */
/* Navbar End Here */

/* Header Start Here */
#Banner{
  background-image: url(./images/banner.jpg);
  background-attachment: fixed;
  background-size: cover;
  min-height: 78vh;
  padding: 9rem 0;
  flex-direction: column;
  justify-content: space-between;
}

.banner-floating-text{
  box-sizing: border-box;
  width: 100%;
  font-size: 5.5rem;
  color: yellow;
}

#Banner .card{
  background-color: #38A573;
  flex-direction: column;
  padding: 1rem 1.5rem;
  height: 12rem;
  width: 25rem;
  border-radius: 1.3rem;
  justify-content: space-around;
}

.Banner-card-text{
  font-size: 1.9rem;
  font-weight: 650;
  color: white;
}

#Banner .row{
  box-sizing: border-box;
  width: 100%;
  justify-content: space-around;
}
/* Header End Here */

/* Main Section Starts  */
main{
  box-sizing: border-box;
  padding: 4rem 1rem;
}
/* Side Bar Starts Here */
#side-bar{
  margin-bottom: 4rem;
  flex: 1;
}

.categories{
  margin-bottom: 2rem;
}

.price-range{
  margin-bottom: 2rem;
}
/* Side Bar Ends Here */

/* Main Bar Starts Here */
.main-menu{
  display: flex;
  margin-top: 3rem;
}

#main-item{
  text-align: center;
  flex: 3.5;
}

.search-bar{
  box-sizing: border-box;
  margin: 0 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-product{
  flex: 1;
}

.sort-by{
  margin-bottom: 1.5rem;
  margin: 0 auto;
  flex: 1;
}

.search-input{
  height: 3.9rem;
  width: 24rem;
  font-size: 1.6rem;
  padding: .5rem;
}

.btn-search{
  height: 3.9rem;
  font-size: 1.6rem;
  padding: .5rem;
  transition: var(--transition);
}
.btn-search i{
  height: 21px;
  width: 21px;
}

.btn-search:hover{
  background-color: green;
  color: white;
}

/* card design starts */
.card-container{
  box-sizing: border-box;
  margin: 4rem 0;
  flex-wrap: wrap;
}
.card{
  box-sizing: border-box;
  margin: 1rem;
  width: 30%;
  padding: 2rem;
  box-shadow: var(--box-shadow);
  position: relative;
}

.stock-details{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0BB530;
  font-size: 2rem;
  padding: 0 1rem;
  line-height: 4rem;
  border-radius: 1rem;
  z-index: 5;
  color: white;
  font-weight: 600;
}

.card:hover{
  box-shadow: 0.1rem 0.2rem 1.3rem rgba(24, 23, 23, 0.5);
}

.card-heading{
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.card-image{
  filter: saturate(0);
  transition: all 0.4s;
}

.card-image:hover{
  filter: saturate(1);
}

.dot{
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: inline-block;
}
.green{
  background-color: #0BB530;
}
.black{
  background-color: black;
}
.red{
  background-color: red;
}

.card-details{
  font-size: 1.7rem;
  font-weight: 550;
}

.card-details-readMore{
  cursor: pointer;
  color: #0BB530;
  font-size: 1.8rem;
}

.card-price{
  font-weight: bold;
  font-size: 1.8rem;
}
.card-rating{
  font-weight: bold;
  font-size: 1.7rem;
}

.btn-card{
  box-sizing: border-box;
  width: 85%;
  background-color: #DBDBDB;
  font-size: 1.8rem;
  border: none;
  text-transform: uppercase;
  text-align: center;
  margin-top: 1rem;
  transition: var(--transition);
}

.btn-card:hover{
  background-color: #0BB530;
  color: white;
}
/* card design ends */

/* Pagination starts */
.pagination ul{
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-btn{
  padding: 1rem;
  border-radius: 0;
  border: 1px solid;
  border-left: none;
  transition: var(--transition);
}
.first-child{
  border-left: 1px solid;
}

.pagination-btn:hover{
  background-color: #218037;
}
/* Pagination Ends */
/* Main Bar Ends Here */
/* Main Section Ends  */


/* Footer Section Starts  */
footer{
  background-color: #0BB530;
  min-height:10vh;
  padding: 1.5rem;
  color: white;
  font-size: 1.9rem;
}

.footer-subscribe{
  flex: 1;
  padding-left:5rem;
}

.footer-copyright{
  flex: 1;
  text-align: center;
}

.input-footer{
  width: 30rem;
  height: 3.6rem;
  border: none;
  padding: .5rem;
}

.btn-footer{
  transition: var(--transition);
  height: 3.6rem;
  border: none;
}

.btn-footer:hover{
  background-color: #218037;
}
/* Footer Section Ends */

/* Registration && Login && Contact Section Starts */
#registration,#login{
  margin: 4rem 6rem;
  min-height: 50vh;
}

.registration-heading,.login-heading,.contact-heading{
  font-size: 4rem;
  margin-bottom: 3rem;
}

.registration-form,.login-form{
  box-sizing: border-box;
  box-shadow: var(--box-shadow);
  width: 60%;
  margin: 0 auto;
  padding: 2rem 2rem;
}

.one-input{
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 2.5rem 0;
}

.one-input > input,textarea{
  box-sizing: border-box;
  width: 80%;
  font-size: 2.3rem;
}

.registration-textArea,.contact-textArea{
  box-sizing: border-box;
  resize: none;
  min-height: 7rem;
}

.regi-btn,.login-btn,.contact-btn{
  text-align: center;
}

.registration-button,.login-button,.contact-button{
  box-sizing: border-box;
  background-color: #F0F0F0;
  padding: 1rem;
  border: none;
  width: 25%;
  text-transform: uppercase;
  margin: 0 auto;
  font-size: 1.8rem;

  transition: all 0.4s;
}

.registration-button,.login-button,.contact-button:hover{
  background-color: #0BB530;
  color: white;
}
/* Registration && Login && Contact Section Ends */

/*Contact Section Starts */
#contact{
  margin: 4rem 1rem;
  min-height: 60vh;
}

.contact-section{
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-message{
  flex: 1;
}
.contact-info{
  flex: 1;
  margin: 0 3rem;
}
.map iframe{
  box-sizing: border-box;
  height: 28rem;
  width: 100%;
}
.address,.phone-number{
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.contact-heading{
  margin-bottom: 6rem;
}
.contact-form{
  box-sizing: border-box;
  box-shadow: var(--box-shadow);
  width: 95%;
  margin: 0 auto;
  padding: 2rem 2rem;
}


/*Contact Section Ends */

@media screen and (max-width: 1024px) {

  /* main starts */
.card{
  width:90%;
}

#side-bar{
  flex: 1;
}

#main-item{
  flex: 2;
}

.search-bar{
  flex-direction: column;
}
.sort-by{
  margin-bottom: 2rem;
}

  /* main ends  */

/* Footer Section Starts  */
footer{
  flex-direction: column;
  padding: 5%;
}

.footer-subscribe{
  flex-direction: column;
}

.input-footer{
  margin-top: 1rem;
  padding: 3% 5%;
}

.btn-footer{
  margin-top: 1rem;
  font-size: 1.7rem;
  padding: 2% 3%;
}

.footer-subscribe{
  padding-left: 0rem;
}

.footer-copyright{
  margin-top: 1.8rem;
}
/* Footer Section Ends */
}

@media screen and (max-width: 768px) {

/* menu bar handle starts */
 #menu-bar{
  display: block;
  text-align: center;
  margin: 1rem 0;
  cursor: pointer;
}

.navbar-hidden{
  display: none;
}

.navbar {
  flex-direction: column;
}

.navbar li{
  margin-bottom: 1rem;
}

.navbar li:last-child{
  margin-bottom: 0;
}

.sub-navbar {
  flex-direction: column;
}

.sub-navbar li:first-child{
   margin-bottom: 1.5rem;
}
/* menu bar handle ends */


/* Header Section Starts */
#Banner{
    padding: 2rem 0 4rem;
}

#Banner .row{
  flex-direction: column;
  justify-content: space-around;
}

#Banner .card{
  margin-bottom: 4rem;
}

.banner-floating-text{
  margin: 2rem auto;
}
/* Header Section Ends */

/* Main Section Starts  */
.main-menu{
  flex-direction: column;
}

.search-bar{
  margin: 0 1rem;
}

.search-input{
  box-sizing: border-box;
  width: 75%;
}

/* pagination starts  */
.pagination-btn{
  padding: 0.4rem;
}
/* pagination Ends  */

/* Main Section Ends  */


}