/* For All Start */
*{
  margin: 0;
  padding: 0;
}

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}


.common-dotted-hr{
  margin: 0 auto;
  border-style: dotted;
  border-bottom: none;
  color: white;
  width: 70px;
  border-width: 10px;
}



/* For All End */



/* Header Section Start */
header{
  background-color: cadetblue;
  padding: 1%;
}
.header{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-image #icon{
  font-size: 80px;
  color: blue;
}

.section-01{
  text-align: center;
}

.section-02 h1{
  text-align: center; 
  color: white; 
  font-size: 40px;
}

/* Header Navbar Section Start */
.nav{
  margin-left: 200px;
}
.nav ul{
  list-style-type: none;
  padding: 0;
}

.nav ul li{
  display: inline;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}

.nav ul li a{
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
}

.nav ul li a:hover{
  background-color: blue;
}
/* Header Navbar Section End */

/* Header Section End */





/* Main Section Start */


/* Top Banner Section Start */
.top-banner{
  padding: 2% 5%;
}

.icon-top{
  text-align: right;
  font-size: 100px;
}

.icon-bottom{
  text-align: left;
  font-size: 100px;
}

.icon-top i:hover{
  transition: 3s;
  transform: rotate(360deg);
}

.icon-bottom i:hover{
  transition: 3s;
  transform: rotate(360deg);
}

.banner-text{
  text-align: center;
  padding: 3% 20%;
}

.banner-text h1{
  font-weight: bold;
  font-size: 50px;
}

.banner-text p{
  padding-top: 10px;
  font-size: 20px;
}
/* Top Banner Section End */


/* About Me Section Start  */
.about-me-section{
  box-sizing: border-box;
  background-color: cadetblue;
  padding: 10px;
}

.about-me-title{
  margin: 1% 0px 1% 0px;
  text-align: center;
}

.about-me-section-body{
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 50px 0px;
}

.about-me-section-body::after{
  content: "";
  clear: both;
  display: table;
}

.about-me-photo{
  box-sizing: border-box;
  text-align: center;
  padding-top: 100px;
}

.about-me-photo img{
  border: 2px solid white;
  border-radius: 50%;
  width: 400px;
}

.about-me-description{
  box-sizing: border-box;  
  text-align: left;
  color: white;
}

.about-me-description p{
  font-size: 20px;
  font-weight: 550;
}

.about-me-hr{
  border: 2px solid;
  margin: 3% auto;
}

.about-me-description h4{
  font-size: 19px
}

.about-me-description button a{
  border: none;
  text-decoration: none;
  background-color: blue;
  color: white;
  font-weight: 700;
  font-size: 23px;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}
/* About Me Section End */





/* Experience Section Start */
.experience-section{
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.experience-section .experience-section-hr{
  border: 2px solid white;
  margin: 10px;
}


.experience-section::after{
  content: '';
  clear: both;
  display: table;
}

.card{
  margin: 20px;
  box-sizing: border-box;
  background-color: gray;
   border-radius: 10px;
   padding: 10px;
}
.card .card-image{
  text-align: center;
  margin: 20px;
}

.card .card-image img{
  border-radius: 50%;
  border: 5px solid white;
}

.card-title{
  margin: 10px;
  color: white;
  background-color:rgb(48, 46, 46);
  text-align: center;
  padding: 10px;
}

.card-description{
  box-sizing: border-box;
  padding-left: 50px;
  font-size: 18px;
}

.card-description h6{
  font-size: 20px;
}


/* Skill Experience start */
.skill-experience .card-description ul{
  list-style-type: none;
  font-weight: bold;
}

.progress-bar-div{
  box-sizing: border-box;
  margin-right: 40px;
  height: 15px;
  background-color: rgb(88, 80, 80);
  border-radius: 10px;
}

.progress-bar-div > span{
  
  box-sizing: border-box;
  width: 0%;
  background-color: blue;
  margin-right: 40px;
  height: 15px;
  border-radius: 10px;
  display: block;
}

/* .progress-bar-span{
  box-sizing: border-box;
  width: 0%;
  background-color: blue;
  margin-right: 40px;
  height: 15px;
  border-radius: 10px;
  display: block;
} */

.progress-bar-div .html{
  animation-name: html_animation;  
  animation-duration: 3s;
  animation-fill-mode: forwards;
  
}

@keyframes html_animation {
  0%{
    width: 0;
  }
  100%{
    width: 90%;
  }
}


.progress-bar-div .css{
  animation-name: css;  
  animation-duration: 3s;
  animation-fill-mode: forwards;
  
}

@keyframes css {
  0%{
    width: 0;
  }
  100%{
    width: 88%;
  }
}


.progress-bar-div .js{
  animation-name: js;  
  animation-duration: 3s;
  animation-fill-mode: forwards;
  
}

@keyframes js {
  0%{
    width: 0;
  }
  100%{
    width: 70%;
  }
}


.progress-bar-div .bootstrap{
  animation-name: bootstrap;  
  animation-duration: 3s;
  animation-fill-mode: forwards;
  
}

@keyframes bootstrap {
  0%{
    width: 0;
  }
  100%{
    width: 84%;
  }
}


.progress-bar-div .jquery{
  animation-name: jquery;  
  animation-duration: 3s;
  animation-fill-mode: forwards;
  
}

@keyframes jquery {
  0%{
    width: 0;
  }
  100%{
    width: 60%;
  }
}

.progress-bar-div .node{
  animation-name: node;  
  animation-duration: 3s;
  animation-fill-mode: forwards;
  
}

@keyframes node {
  0%{
    width: 0;
  }
  100%{
    width: 65%;
  }
}


.progress-bar-div .express{
  animation-name: express;  
  animation-duration: 3s;
  animation-fill-mode: forwards;
  
}

@keyframes express {
  0%{
    width: 0;
  }
  100%{
    width: 70%;
  }
}


.progress-bar-div .github{
  animation-name: github;  
  animation-duration: 3s;
  animation-fill-mode: forwards;
  
}

@keyframes github {
  0%{
    width: 0;
  }
  100%{
    width: 85%;
  }
}


.progress-bar-div .react{
  animation-name: react;  
  animation-duration: 3s;
  animation-fill-mode: forwards;
  
}

@keyframes react {
  0%{
    width: 0;
  }
  100%{
    width: 80%;
  }
}
/* Skill Experience end   */
/* Experience Section End */

/* Contact Section Start */
  .contact-section{
    background-color: cadetblue;
    padding: 5% 10%;

    display: flex;
  }

  .achievement-title h1{
    color: white;
    text-align: center;
  }

  .achievement-title{
    margin-bottom: 15px;
  }

  .achievement-description{
    color: white;
    text-align: justify;
    margin: 15px 10px 15px 0px;
  }

.contact-me-title{
  color: white;
  text-align: center;
  margin-bottom: 15px;
}

.contact-me-sent-message{
  text-align: center;
  padding: 5%;
  box-sizing: border-box;
}

.contact-name input{
  border: none;
  height: 40px;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  font-weight: 900;
  font-size: 17px;
}

.contact-email input{
    border: none;
  height: 40px;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  font-weight: 900;
  font-size: 17px;
}

.contact-message textarea{
  
  border: none;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  font-weight: 900;
  font-size: 17px;
  padding-top: 20px;
}
.contact-me-button{
  text-align: center;
  margin-bottom: 15px;
}

.contact-me-button button{
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 800;
  cursor: pointer;
}

.ways-to-connect-title h1{
  color: white;
  text-align: center;
}

.ways-to-connect-title{
  margin-bottom: 15px;
}

.ways-to-connect-description{
  margin: 80px 0px 0px 30px;
  text-align: center;
}

.ways-to-connect-description > div > a> i{
  padding: 10px;
  background-color: white;
  margin:10px;
  border-radius: 50%;
  padding: 10px;
  font-size: 35px;
}

.ways-to-connect-description .youtube{
  color: red;
}

.ways-to-connect-description > div > a> i:hover{
  background-color: gray;
}
/* Contact Section End */
/* Main Section End */

/* footer section start */

/* footer section start */


footer{
  background-color: black;
  color: white;
}

footer a{
  color: white;
  text-decoration: none;
}

.footer-class{
  display: flex;
}

.footer-nav{
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

.footer-copyright{
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

.footer-nav ul{
  list-style-type: none;
}

.footer-nav li{
  display: inline;
  padding: 2% 3%;
}